@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url(merriweather400.woff) format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url(merriweather400italic.woff) format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url(merriweather700.woff) format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: url(merriweather700italic.woff) format('woff');
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

$baseFontSize: 1.8rem;
$baseLineHeight: 3.6rem;
$mobileFontSize: 1.4rem;
$mobileLineHeight: 2.8rem;
$mobileHeaderLineHeight: 4.2rem;
$sonyBlue: rgba(0, 83, 157, 1);
$sonyBlueFaded: rgba(0, 83, 157, .5);
$sonyBlueLight: rgba(0, 83, 157, .25);
$sonyBlueTranslucent: rgba(0, 83, 157, .075);

html {
  font-size: 62.5%; // 10px rem base.
}

body {
  font-family: "Merriweather", Georgia, serif;
  background-color: #ccc;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li, div, header, footer, main, nav, blockquote {
  display: block;
  margin: $baseLineHeight 0;
  opacity: 1;
  padding: 0;
  vertical-align: baseline;
}

ul, ol, blockquote {
  border-left: .3rem solid #ccc;
}

li {
  display: list-item;
}

ul li, ol li {
  margin: $baseFontSize $baseLineHeight;
}

blockquote {
  background-color: $sonyBlueTranslucent;
  padding-left: $baseLineHeight;
}

a {

  color: $sonyBlue;
  -webkit-text-decoration: underline solid $sonyBlueLight;
  text-decoration: underline solid $sonyBlueLight;

  &:hover {
    -webkit-text-decoration: underline solid $sonyBlueFaded;
    text-decoration: underline solid $sonyBlueFaded;
  }

  &:visited {
    color: $sonyBlueFaded
  }
}

img, video {
  max-width: 98%;
  height: auto;
}

.container {
  background-color: #fff;
  background-image: url(../images/pstvConsole.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 -18rem;
  color: #4b4b4b;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  margin: 0 auto;
  padding: 13rem 8rem .5rem 8rem;
  width: 96rem;
  max-width: 98%;
}


@media (max-width: 600px) {

  h1, h2, h3, h4, h5, h6, p, ol, ul, li, div, header, footer, main, nav, blockquote {
    margin: $mobileLineHeight 0;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: $mobileHeaderLineHeight;
  }

  ul li, ol li {
    margin: $mobileFontSize $mobileLineHeight;
  }

  blockquote {
    padding-left: $mobileLineHeight;
  }

  .container {
    background: #fff;
    color: #222;
    font-size: $mobileFontSize;
    line-height: $mobileLineHeight;
    padding: .5rem 2rem .5rem;
    word-wrap: break-word;
  }
}