$pstvWidth: 96rem;
$pstvHeight: 54rem;
$folderWidth: 36rem;
$folderHeight: 36rem;

@mixin centerLocation {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin boxShadow($alpha: .5) {
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, $alpha);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, $alpha);
}

@mixin transitionSettings($speed: 200ms) {
  -webkit-transition: all $speed ease-out;
  transition: all $speed ease-out;
}

#overlay {
  @include transitionSettings();
  background-color: rgba(0, 0, 0, .35);
  height: $pstvHeight;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: $pstvWidth;

  &.show {
    opacity: 1;
  }

}

.folder {

  @include boxShadow();
  @include centerLocation;
  @include transitionSettings();
  background: rgba(3, 47, 100, 1);
  height: $folderHeight;
  left: calc(#{$pstvWidth} / 2);
  overflow: hidden;
  position: absolute;
  top: calc(#{$pstvHeight} / 2);
  width: $folderWidth;

  h1 {
    background-color: rgba(0,0,0, .6);
    font-size: 3rem;
    font-weight: 300;
    height: 6rem;
    left: 0;
    line-height: 6rem;
    position: inherit;
    text-indent: 1.5rem;
    top: 0;
    white-space: nowrap;
    width: 100%;
  }

  .icon {
    background-color: #aaa;
    height: 30rem;
    left: calc(#{$folderWidth} / 2);
    opacity: 0;
    position: inherit;
    top: calc(#{$folderHeight} / 2);
    width: 33rem;

    @include centerLocation;
  }

  .folder-apps {
    position: inherit;

    @mixin folder-app($row, $col) {
      left: 6rem + (($col - 1) * 12rem);
      top: 13.5rem + (($row - 1) * 12rem);
    }

    li {
      @include centerLocation;
      @include transitionSettings();
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      background-color: #999;
      background-size: 100% 100%;
      height: 9rem;
      position: inherit;
      text-indent: -500rem;
      width: 9rem;

      &:hover {
        @include boxShadow(.3);
        @include transitionSettings(50ms);
        height: 11rem;
        width: 11rem;
      }

      &:nth-child(1) {
        @include folder-app(1, 1);
      }

      &:nth-child(2) {
        @include folder-app(1, 2);
      }

      &:nth-child(3) {
        @include folder-app(1, 3);
      }

      &:nth-child(4) {
        @include folder-app(2, 1);
      }

      &:nth-child(5) {
        @include folder-app(2, 2);
      }

      &:nth-child(6) {
        @include folder-app(2, 3);
      }

    }

  }

  nav {
    background-color: rgba(0,0,0, .6);
    height: 3rem;
    left: 0;
    position: inherit;
    top: calc(#{$folderHeight} - 3rem);
    width: 100%;
    li {
      background-color: inherit;
      background: 1.5rem .9rem no-repeat;
      background-size: 1.3rem auto;
      height: 3rem;
      position: absolute;
      text-indent: 3.75rem;
      top: 0;
      width: calc(#{$folderWidth} / 3);
      &.folder-button-x {
        left: 0;
        background-image: url("../images/button_x.png");
      }
      &.folder-button-triangle {
        left: calc(#{$folderWidth} / 3);
        background-image: url("../images/button_triangle.png");
      }
      &.folder-button-circle {
        left: calc(2 * #{$folderWidth} / 3);
        background-image: url("../images/button_circle.png");
      }
    }

  }

  // Can't use left and top. Too choppy in Safari. Have to use transform.
  &.shrink {
    -webkit-transform: translate(-36rem, -22.5rem) translateZ(0) scale(.5);
    transform: translate(-36rem, -22.5rem) translateZ(0) scale(.5);

    opacity: 0;

    nav, h1 {
      opacity: 0;
    }

    .icon {
      opacity: 1;
    }
    /*
          .folder-apps {
            @mixin folder-app($row, $col) {
              left: 7rem + (($col - 1) * 11rem);
              top: 14rem + (($row - 1) * 11rem);
            }

            li {
              height: 11rem;
              width: 11rem;

              &.loadclass {
                -webkit-backface-visibility: visible;
                -moz-backface-visibility: visible;
                backface-visibility: visible;
              }

              &:nth-child(1) {
                @include folder-app(1, 1);
              }

              &:nth-child(2) {
                @include folder-app(1, 2);
              }

              &:nth-child(3) {
                @include folder-app(1, 3);
              }

              &:nth-child(4) {
                @include folder-app(2, 1);
              }

              &:nth-child(5) {
                @include folder-app(2, 2);
              }

              &:nth-child(6) {
                @include folder-app(2, 3);
              }
            }
          }


    */

  }

  & > * {
    @include transitionSettings();
  }

}

