> #mockups {
  height: 100%;
  width: 100%;

  // Compensate for scanlines darkening the mockup.
  @mixin mockup-bg($brighten: false) {
    background-size: 100% 100%;
    @if $brighten == true {
      -webkit-filter: brightness(115%);
      filter: brightness(115%);
    }
  }

  &.bg-vita {
    @include mockup-bg();
    background-image: url("images/vita_homescreen.jpg");
  }

  &.bg-xeno-scanlines {
    @include mockup-bg(true);
    background-image: url("images/psx_xeno_scanlines.png");
  }

  &.bg-xeno-smooth {
    @include mockup-bg();
    background-image: url("images/psx_xeno_smooth.png");
  }

  &.bg-ridge-scanlines {
    @include mockup-bg(true);
    background-image: url("images/psx_ridge_scanlines.png");
  }

  &.bg-ridge-smooth {
    @include mockup-bg();
    background-image: url("images/psx_ridge_smooth.png");
  }
}