// Sony base blues: #003791, #032f64 (3,47,100,1)
// Alt blues: #1a265d [rgba(26,38,93,1)], #2a3568
// PS Store uses: #01439a [rbga(1,67,154,1)] -- and #363636 for text.
// Bare bones reset and pagewide styles
@import "reset";

$bgColor: rgba(3, 47, 100, 1);
$appTransitionSpeed: 250ms;

// SASS pagewide mixins

@mixin flex-basic-row {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

@mixin bg-darkened-color($alpha:0.5) {
  background-color: rgba(0, 0, 0, $alpha);
}

@mixin bg-color-alpha($alpha:1) {
  background-color: rgba(3, 47, 100, $alpha);
}

@mixin hide {
  opacity: 0;
}

@mixin show {
  opacity: 1;
  transition: opacity $appTransitionSpeed;
}

.invisible {
  display: none;
}

.visible {
  display: inherit;
}

// #pstv is the "screen" of the console

#pstv {
  border: 1px solid $bgColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 54rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  width: 96rem;

  &.border-neutral {
    border: 1px solid #333;
  }

  @import "mockups";

  > #prototype {

    background-color: $bgColor;

    &.bg-custom {
      background-image: url(../images/bg_tlg4.png);
      background-size: 100% 100%;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
      > header img {
        -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.9));
        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.9));
      }
    }

    &.bg-grid {
      $size: 1.5rem;
      $gridColor: rgba(255, 255, 255, .05);
      background-position: 0 0;
      background-size: $size $size;
      background-image: repeating-linear-gradient(0deg, $gridColor, $gridColor 1px, transparent 1px, transparent $size),
      repeating-linear-gradient(-90deg, $gridColor, $gridColor 1px, transparent 1px, transparent $size);
    }

    &.bg-nogrid {
      //background-image: linear-gradient(135deg, rgba(0, 0, 0, .15) 0%, rgba(255, 255, 255, .15) 100%);

      /*

      //Animating the background looks cool, but slows all other animations!

      background-image: linear-gradient(318deg, rgba(255, 255, 255, .25), rgba(3, 47, 100, .25));
      background-size: 400% 400%;

      -webkit-animation: bgAnimation 30s ease infinite;
      -moz-animation: bgAnimation 30s ease infinite;
      animation: bgAnimation 30s ease infinite;

      @-webkit-keyframes bgAnimation {
        0% {
          background-position: 0% 2%
        }
        50% {
          background-position: 100% 99%
        }
        100% {
          background-position: 0% 2%
        }
      }
      @-moz-keyframes bgAnimation {
        0% {
          background-position: 0% 2%
        }
        50% {
          background-position: 100% 99%
        }
        100% {
          background-position: 0% 2%
        }
      }
      @keyframes bgAnimation {
        0% {
          background-position: 0% 2%
        }
        50% {
          background-position: 100% 99%
        }
        100% {
          background-position: 0% 2%
        }
      }

      */

    }

    @import "folder";

    > header, > footer {
      @include flex-basic-row;
      @include bg-darkened-color(0);
      height: 6rem;
      padding: 0 3rem;
    }

    > header {
      h1 {
        flex: 0 1 auto;

        img {
          max-height: 1.8rem;
          padding: 0 .6rem;
          position: relative;
          top: .4rem;
          width: auto;
        }

      }
      h1.user {
        img.plus {
          max-height: 1.5rem;
          top: .3rem;
        }
      }
      h1.clock {
        text-align: center;
        text-indent: 0;
        min-width: 13.5rem;
      }
    }

    > footer {

      h1 {
        //border: 1px solid #fc9;
        flex: 1 0 auto;
        font-size: 1.3rem;
        font-style: italic;
        opacity: .8;
      }

      .pstvlogo {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        background: right 0 no-repeat;
        background-image: url(../images/logo_pstv.png);
        background-size: auto 2.2rem;
        height: 2.2rem;
        padding-left: 3rem;
        text-indent: -500rem; // Hide text.
        width: 15rem;
      }

      .marquee {
        white-space: nowrap;
        overflow: hidden;
        width: 72rem;
      }

      .marquee span {
        display: inline-block;
        padding-left: 100%;
        text-indent: 0;
        -webkit-animation: marquee 25s linear infinite;
        animation: marquee 25s linear infinite;
      }

      @-webkit-keyframes marquee {
        0% {
          -webkit-transform: translate(0, 0);
        }
        100% {
          -webkit-transform: translate(-100%, 0);
        }
      }

      @keyframes marquee {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(-100%, 0);
        }
      }

    }

    ///////////////////////////////////////////////////////
    //
    // APP SECTION
    //

    main {
      height: 42rem;

      $scaleCurrent: 1;
      $scaleAdjacent: 15/18;
      $scaleDistant: 12/18;
      $offsetTop: 7.5rem;

      @mixin adjacent {
        //display: none; // Used for testing only.
        > header {
          //@include bg-darkened-color(.6);// Used for testing only.
        }
      }

      @mixin distant {
        //display: none; // Used for testing only.
        > header {
          //@include bg-darkened-color(.6);// Used for testing only.
        }
      }

      .app {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        -webkit-transform: translate(21rem, $offsetTop) scale($scaleCurrent);
        transform: translate(21rem, $offsetTop) scale($scaleCurrent);
        -webkit-transition: -webkit-transform $appTransitionSpeed;
        transition: transform $appTransitionSpeed;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;

        > header, > nav, > footer {
          -webkit-backface-visibility: inherit;
          position: inherit;
        }

        > header {
          @include bg-darkened-color(.6);
          height: 18rem;
          -webkit-transform: translate(0) scale($scaleCurrent);
          transform: translate(0) scale($scaleCurrent);
          width: 18rem;

          img {
            height: 100%;
            width: 100%;
            //display: none; // Used for testing only.
          }
        }

        // Hide footer and nav for non-selected apps
        > nav, > footer {
          @include hide;
        }

        nav {
          -webkit-transform: translate(0rem, 18rem) scale($scaleCurrent);
          transform: translate(0rem, 18rem) scale($scaleCurrent);

          ul {
            list-style-type: none;

            li {
              @include bg-darkened-color();
              background: .8rem .9rem no-repeat;
              background-size: 1.3rem auto;
              height: 3rem;
              text-indent: 3rem;
              width: 18rem;
            }

            li.button-x {
              @include bg-darkened-color(.4);
              background-image: url(../images/button_x.png);
            }

            li.button-triangle {
              @include bg-darkened-color(.3);
              background-image: url(../images/button_triangle.png);
            }

            li.button-square {
              @include bg-darkened-color(.2);
              background-image: url(../images/button_square.png);
            }

            li.button-circle {
              @include bg-darkened-color(.1);
              background-image: url(../images/button_circle.png);
            }
          }
        }

        > footer {
          @include bg-darkened-color(0);
          height: 6rem;
          -webkit-transform: translate(18rem, 21rem) scale($scaleCurrent);
          transform: translate(18rem, 21rem) scale($scaleCurrent);
          width: 75rem;

          h1 {
            font-size: 3rem;
            font-weight: 300;
            line-height: 6rem;
            text-indent: 3rem;
            white-space: nowrap;
          }
        }

      }

      .current {

        // Show footer and nav for selected apps
        > footer, > nav {
          @include show;
        }

        > footer.hide, > nav.hide, > header img.hide {
          @include hide;
          transition: opacity $appTransitionSpeed;
        }

      }

      .adjacent-left {
        @include adjacent;
        -webkit-transform: translate(6rem, $offsetTop) scale($scaleAdjacent);
        transform: translate(6rem, $offsetTop) scale($scaleAdjacent);
      }

      .adjacent-right {
        @include adjacent;
        -webkit-transform: translate(39rem, $offsetTop) scale($scaleAdjacent);
        transform: translate(39rem, $offsetTop) scale($scaleAdjacent);
      }

      .farthest-left {
        @include distant;
        -webkit-transform: translate(-6rem, $offsetTop) scale($scaleDistant);
        transform: translate(-6rem, $offsetTop) scale($scaleDistant);
      }

      .distant-right-1 {
        @include distant;
        -webkit-transform: translate(54rem, $offsetTop) scale($scaleDistant);
        transform: translate(54rem, $offsetTop) scale($scaleDistant);
      }

      .distant-right-2 {
        @include distant;
        -webkit-transform: translate(66rem, $offsetTop) scale($scaleDistant);
        transform: translate(66rem, $offsetTop) scale($scaleDistant);
      }

      .distant-right-3 {
        @include distant;
        -webkit-transform: translate(78rem, $offsetTop) scale($scaleDistant);
        transform: translate(78rem, $offsetTop) scale($scaleDistant);
      }

      .farthest-right {
        @include distant;
        -webkit-transform: translate(90rem, $offsetTop) scale($scaleDistant);
        transform: translate(90rem, $offsetTop) scale($scaleDistant);
      }

      .offscreen-left {
        @include distant;
        -webkit-transform: translate(-18rem, $offsetTop) scale($scaleDistant);
        transform: translate(-18rem, $offsetTop) scale($scaleDistant);
      }

      .offscreen-right {
        @include distant;
        -webkit-transform: translate(102rem, $offsetTop) scale($scaleDistant);
        transform: translate(102rem, $offsetTop) scale($scaleDistant);
      }

    }

  }

  //
  // END APP SECTION
  //
  ///////////////////////////////////////////////////////

}

@import "controls";

@import "preloader";

@media (max-width: 520px) {
  @viewport {
    width: 960px;
  }
}