// Thanks to Luke Haas's CSS spinner page for the genesis of this code!
// http://lukehaas.me

$barColor: #fafafa;

.suspended,
.suspended:before,
.suspended:after {
  -webkit-animation: suspendedAnim 1s infinite ease-in-out;
  animation: suspendedAnim 1s infinite ease-in-out;
  background: $barColor;
  height: 2rem;
  opacity: 1;
  width: .2rem;
}

.suspended:before,
.suspended:after {
  content: '';
  position: absolute;
  top: 0;
}

.suspended:before {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  left: -.4rem;
}

.suspended {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  left: 16.4rem;
  position: absolute;
  text-indent: -9999rem;
  top: 16.3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.suspended:after {
  left: .4rem;
}

@-webkit-keyframes suspendedAnim {
  0%,
  80%,
  100% {
    box-shadow: 0 0 $barColor;
    height: .8rem;
  }
  40% {
    box-shadow: 0 -.6em $barColor;
    height: 1rem;
  }
}

@keyframes suspendedAnim {
  0%,
  80%,
  100% {
    box-shadow: 0 0 $barColor;
    height: .8rem;
  }
  40% {
    box-shadow: 0 -.6em $barColor;
    height: 1rem;
  }
}