* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

html {
  font-size: 62.5%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 1rem;
  font-family: "sst-w01", sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
  background-color: #050505;
  color: #fff; }

h1, h2, h3, h4, h5, h6, p, ol, ul, li, div, header, footer, main, nav {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  display: block;
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  line-height: inherit;
  opacity: 1; }

a, a:hover, a:active, a:visited {
  color: inherit;
  text-decoration: none; }

.invisible {
  display: none; }

.visible {
  display: inherit; }

#pstv {
  border: 1px solid #032f64;
  height: 54rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 96rem; }
  #pstv > #mockups {
    height: 100%;
    width: 100%; }
  #pstv > #prototype {
    background-color: #032f64; }
    #pstv > #prototype > header, #pstv > #prototype > footer {
      -webkit-align-items: center;
      align-items: center;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row;
      flex-flow: row;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      background-color: transparent;
      height: 6rem;
      padding: 0 3rem; }
    #pstv > #prototype > header h1 {
      flex: 0 1 auto; }
      #pstv > #prototype > header h1 img {
        max-height: 1.8rem;
        padding: 0 .6rem;
        position: relative;
        top: .4rem;
        width: auto; }
    #pstv > #prototype > header h1.user img.plus {
      max-height: 1.5rem;
      top: .3rem; }
    #pstv > #prototype > header h1:last-child {
      text-align: right;
      text-indent: 0; }
    #pstv > #prototype > footer h1 {
      flex: 1 0 auto;
      font-size: 1.3rem;
      font-style: italic;
      opacity: .9; }
    #pstv > #prototype > footer img.logo {
      max-height: 2.2rem;
      width: auto;
      opacity: .9; }
    #pstv > #prototype main {
      height: 42rem; }
      #pstv > #prototype main .app {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        -webkit-transform: translate(21rem, 7.5rem) scale(1);
        transform: translate(21rem, 7.5rem) scale(1);
        -webkit-transition: -webkit-transform 300ms;
        transition: transform 300ms;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
        #pstv > #prototype main .app > header, #pstv > #prototype main .app > nav, #pstv > #prototype main .app > footer {
          -webkit-backface-visibility: inherit;
          position: inherit; }
        #pstv > #prototype main .app > header {
          background-color: rgba(0, 0, 0, 0.6);
          height: 18rem;
          -webkit-transform: translate(0) scale(1);
          transform: translate(0) scale(1);
          width: 18rem; }
          #pstv > #prototype main .app > header img {
            height: 100%;
            width: 100%; }
        #pstv > #prototype main .app > nav, #pstv > #prototype main .app > footer {
          opacity: 0; }
        #pstv > #prototype main .app nav {
          -webkit-transform: translate(0rem, 18rem) scale(1);
          transform: translate(0rem, 18rem) scale(1); }
          #pstv > #prototype main .app nav ul {
            list-style-type: none; }
            #pstv > #prototype main .app nav ul li {
              background-color: rgba(0, 0, 0, 0.5);
              background: .7rem .8rem no-repeat;
              background-size: 1.5rem auto;
              height: 3rem;
              padding-left: 3rem;
              width: 18rem; }
            #pstv > #prototype main .app nav ul li.button-x {
              background-color: rgba(0, 0, 0, 0.4);
              background-image: url("images/button_x.png"); }
            #pstv > #prototype main .app nav ul li.button-triangle {
              background-color: rgba(0, 0, 0, 0.3);
              background-image: url("images/button_triangle.png"); }
            #pstv > #prototype main .app nav ul li.button-square {
              background-color: rgba(0, 0, 0, 0.2);
              background-image: url("images/button_square.png"); }
            #pstv > #prototype main .app nav ul li.button-circle {
              background-color: rgba(0, 0, 0, 0.1);
              background-image: url("images/button_circle.png"); }
        #pstv > #prototype main .app > footer {
          background-color: transparent;
          height: 6rem;
          -webkit-transform: translate(18rem, 21rem) scale(1);
          transform: translate(18rem, 21rem) scale(1);
          width: 75rem; }
          #pstv > #prototype main .app > footer h1 {
            font-size: 3rem;
            font-weight: 300;
            line-height: 6rem;
            padding-left: 3rem; }
      #pstv > #prototype main .current > footer, #pstv > #prototype main .current > nav {
        opacity: 1;
        transition: opacity 300ms; }
      #pstv > #prototype main .adjacent-left {
        -webkit-transform: translate(6rem, 7.5rem) scale(0.83333);
        transform: translate(6rem, 7.5rem) scale(0.83333); }
      #pstv > #prototype main .adjacent-right {
        -webkit-transform: translate(39rem, 7.5rem) scale(0.83333);
        transform: translate(39rem, 7.5rem) scale(0.83333); }
      #pstv > #prototype main .distant-left {
        -webkit-transform: translate(-6rem, 7.5rem) scale(0.66667);
        transform: translate(-6rem, 7.5rem) scale(0.66667); }
      #pstv > #prototype main .distant-right-1 {
        -webkit-transform: translate(54rem, 7.5rem) scale(0.66667);
        transform: translate(54rem, 7.5rem) scale(0.66667); }
      #pstv > #prototype main .distant-right-2 {
        -webkit-transform: translate(66rem, 7.5rem) scale(0.66667);
        transform: translate(66rem, 7.5rem) scale(0.66667); }
      #pstv > #prototype main .distant-right-3 {
        -webkit-transform: translate(78rem, 7.5rem) scale(0.66667);
        transform: translate(78rem, 7.5rem) scale(0.66667); }
      #pstv > #prototype main .distant-right-4 {
        -webkit-transform: translate(90rem, 7.5rem) scale(0.66667);
        transform: translate(90rem, 7.5rem) scale(0.66667); }
      #pstv > #prototype main .offscreen-left-1, #pstv > #prototype main .offscreen-left-2, #pstv > #prototype main .offscreen-left-3,
      #pstv > #prototype main .offscreen-left-4, #pstv > #prototype main .offscreen-left-5, #pstv > #prototype main .offscreen-left-6 {
        -webkit-transform: translate(-18rem, 7.5rem) scale(0.66667);
        transform: translate(-18rem, 7.5rem) scale(0.66667); }
      #pstv > #prototype main .offscreen-right-1, #pstv > #prototype main .offscreen-right-2, #pstv > #prototype main .offscreen-right-3 {
        -webkit-transform: translate(102rem, 7.5rem) scale(0.66667);
        transform: translate(102rem, 7.5rem) scale(0.66667); }

.bg-grid {
  background-position: 0 0;
  background-size: 1rem 1rem;
  background-image: repeating-linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, transparent 1px, transparent 1rem), repeating-linear-gradient(-90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, transparent 1px, transparent 1rem); }

.bg-nogrid {
  /*
    background: -moz-linear-gradient(-45deg,  #032548 0%, #1a265d 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#032548), color-stop(100%,#1a265d));
    background: -webkit-linear-gradient(-45deg,  #032548 0%,#1a265d 100%);
    background: -o-linear-gradient(-45deg,  #032548 0%,#1a265d 100%);
    background: -ms-linear-gradient(-45deg,  #032548 0%,#1a265d 100%);
    background: linear-gradient(135deg,  #032548 0%,#1a265d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#032548', endColorstr='#1a265d',GradientType=1 );
  */ }

.bg-vita {
  background-image: url("images/vita_homescreen.jpg");
  background-size: 100% 100%; }

.bg-xeno-scanlines {
  background-image: url("images/psx_xeno_scanlines.png");
  background-size: 100% 100%;
  -webkit-filter: brightness(110%);
  filter: brightness(110%); }

.bg-xeno-smooth {
  background-image: url("images/psx_xeno_smooth.png");
  background-size: 100% 100%; }

.bg-ridge-scanlines {
  background-image: url("images/psx_ridge_scanlines.png");
  background-size: 100% 100%;
  -webkit-filter: brightness(110%);
  filter: brightness(110%); }

.bg-ridge-smooth {
  background-image: url("images/psx_ridge_smooth.png");
  background-size: 100% 100%; }

.bg-custom {
  background-image: url("images/bg_tlg.png");
  background-size: 100% 100%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); }
  .bg-custom > header img {
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.8));
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.8)); }

#pstv.border-neutral {
  border: 1px solid #333; }

#controls {
  border: 1px dashed rgba(255, 255, 255, 0.15);
  color: #ccc;
  font-size: 1.3rem;
  font-weight: 700;
  height: 6rem;
  margin: 1.5rem auto;
  overflow: hidden;
  padding: 0 3rem;
  position: relative;
  width: 96rem; }
  #controls ul {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  #controls a, #controls a:hover, #controls a:active, #controls a:visited {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2); }

.preloader {
  background-image: url("images/bg_tlg.png"), url("images/psx_ridge_smooth.png"), url("images/psx_ridge_scanlines.png"), url("images/psx_xeno_smooth.png"), url("images/psx_xeno_scanlines.png"), url("images/vita_homescreen.jpg");
  background-repeat: no-repeat;
  width: 0;
  height: 0;
  display: none; }

@media (max-width: 520px) {
  @viewport {
    width: 960px; } }

/*# sourceMappingURL=pstv.css.map */
