/* Sony base blue: #003791 */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

html {
  font-size: 62.5%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  padding-top: 2rem;
  font-family: "sst-w01", sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
  background-color: #050505;
  color: #fff; }

h1, h2, h3, h4, h5, h6, p, ol, ul, li, div, header, footer, main, nav {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  display: block;
  font-size: inherit;
  font-weight: 400;
  font-style: normal;
  line-height: inherit;
  opacity: 1; }

a, a:hover, a:active, a:visited {
  color: inherit;
  text-decoration: none; }

.invisible {
  display: none; }

.visible {
  display: inherit; }

#pstv {
  background-color: #1a265d;
  border: 1px solid #1a265d;
  height: 54rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 96rem; }
  #pstv > header, #pstv > footer {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
    height: 6rem;
    padding: 0 3rem; }
  #pstv main {
    height: 42rem; }
    #pstv main .app-current {
      position: absolute;
      top: 13.5rem;
      left: 21rem; }
      #pstv main .app-current > header {
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center; }
      #pstv main .app-current > footer, #pstv main .app-current > nav {
        display: none; }
      #pstv main .app-current > header {
        height: 18rem;
        width: 18rem; }
      #pstv main .app-current > footer, #pstv main .app-current > nav {
        display: inherit; }
      #pstv main .app-current > footer {
        background-color: rgba(0, 0, 0, 0.5);
        height: 6rem;
        left: 18rem;
        position: absolute;
        top: 21rem;
        width: 51rem; }
        #pstv main .app-current > footer h1 {
          font-size: 3rem;
          line-height: 6rem; }
      #pstv main .app-current ul {
        list-style-type: none; }
        #pstv main .app-current ul li {
          background-color: rgba(0, 0, 0, 0.5);
          height: 3rem; }
        #pstv main .app-current ul li:nth-child(1) {
          background-color: rgba(0, 0, 0, 0.4); }
        #pstv main .app-current ul li:nth-child(2) {
          background-color: rgba(0, 0, 0, 0.3); }
        #pstv main .app-current ul li:nth-child(3) {
          background-color: rgba(0, 0, 0, 0.2); }
        #pstv main .app-current ul li:nth-child(4) {
          background-color: rgba(0, 0, 0, 0.1); }
    #pstv main .app-adjacent-left {
      position: absolute;
      top: 13.5rem;
      left: 6rem; }
      #pstv main .app-adjacent-left > header {
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center; }
      #pstv main .app-adjacent-left > footer, #pstv main .app-adjacent-left > nav {
        display: none; }
      #pstv main .app-adjacent-left > header {
        background-color: rgba(0, 0, 0, 0.45);
        height: 15rem;
        width: 15rem; }
    #pstv main .app-adjacent-right {
      position: absolute;
      top: 13.5rem;
      left: 39rem; }
      #pstv main .app-adjacent-right > header {
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center; }
      #pstv main .app-adjacent-right > footer, #pstv main .app-adjacent-right > nav {
        display: none; }
      #pstv main .app-adjacent-right > header {
        background-color: rgba(0, 0, 0, 0.45);
        height: 15rem;
        width: 15rem; }
    #pstv main .app-distant-left {
      position: absolute;
      top: 13.5rem;
      left: -6rem; }
      #pstv main .app-distant-left > header {
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center; }
      #pstv main .app-distant-left > footer, #pstv main .app-distant-left > nav {
        display: none; }
      #pstv main .app-distant-left > header {
        background-color: rgba(0, 0, 0, 0.4);
        height: 12rem;
        width: 12rem; }
    #pstv main .app-distant-right-1 {
      position: absolute;
      top: 13.5rem;
      left: 54rem; }
      #pstv main .app-distant-right-1 > header {
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center; }
      #pstv main .app-distant-right-1 > footer, #pstv main .app-distant-right-1 > nav {
        display: none; }
      #pstv main .app-distant-right-1 > header {
        background-color: rgba(0, 0, 0, 0.4);
        height: 12rem;
        width: 12rem; }
    #pstv main .app-distant-right-2 {
      position: absolute;
      top: 13.5rem;
      left: 66rem; }
      #pstv main .app-distant-right-2 > header {
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center; }
      #pstv main .app-distant-right-2 > footer, #pstv main .app-distant-right-2 > nav {
        display: none; }
      #pstv main .app-distant-right-2 > header {
        background-color: rgba(0, 0, 0, 0.3);
        height: 12rem;
        width: 12rem; }
    #pstv main .app-distant-right-3 {
      position: absolute;
      top: 13.5rem;
      left: 78rem; }
      #pstv main .app-distant-right-3 > header {
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center; }
      #pstv main .app-distant-right-3 > footer, #pstv main .app-distant-right-3 > nav {
        display: none; }
      #pstv main .app-distant-right-3 > header {
        background-color: rgba(0, 0, 0, 0.2);
        height: 12rem;
        width: 12rem; }
    #pstv main .app-distant-right-4 {
      position: absolute;
      top: 13.5rem;
      left: 90rem; }
      #pstv main .app-distant-right-4 > header {
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center; }
      #pstv main .app-distant-right-4 > footer, #pstv main .app-distant-right-4 > nav {
        display: none; }
      #pstv main .app-distant-right-4 > header {
        background-color: rgba(0, 0, 0, 0.1);
        height: 12rem;
        width: 12rem; }
    #pstv main .app-offscreen-left-1, #pstv main .app-offscreen-left-2, #pstv main .app-offscreen-left-3, #pstv main .app-offscreen-left-4, #pstv main .app-offscreen-left-5 {
      position: absolute;
      top: 13.5rem;
      left: -18rem; }
      #pstv main .app-offscreen-left-1 > header, #pstv main .app-offscreen-left-2 > header, #pstv main .app-offscreen-left-3 > header, #pstv main .app-offscreen-left-4 > header, #pstv main .app-offscreen-left-5 > header {
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center; }
      #pstv main .app-offscreen-left-1 > footer, #pstv main .app-offscreen-left-1 > nav, #pstv main .app-offscreen-left-2 > footer, #pstv main .app-offscreen-left-2 > nav, #pstv main .app-offscreen-left-3 > footer, #pstv main .app-offscreen-left-3 > nav, #pstv main .app-offscreen-left-4 > footer, #pstv main .app-offscreen-left-4 > nav, #pstv main .app-offscreen-left-5 > footer, #pstv main .app-offscreen-left-5 > nav {
        display: none; }
      #pstv main .app-offscreen-left-1 > header, #pstv main .app-offscreen-left-2 > header, #pstv main .app-offscreen-left-3 > header, #pstv main .app-offscreen-left-4 > header, #pstv main .app-offscreen-left-5 > header {
        background-color: rgba(0, 0, 0, 0.01);
        height: 12rem;
        width: 12rem; }
    #pstv main .app-offscreen-right-1, #pstv main .app-offscreen-right-2 {
      position: absolute;
      top: 13.5rem;
      left: 102rem; }
      #pstv main .app-offscreen-right-1 > header, #pstv main .app-offscreen-right-2 > header {
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center; }
      #pstv main .app-offscreen-right-1 > footer, #pstv main .app-offscreen-right-1 > nav, #pstv main .app-offscreen-right-2 > footer, #pstv main .app-offscreen-right-2 > nav {
        display: none; }
      #pstv main .app-offscreen-right-1 > header, #pstv main .app-offscreen-right-2 > header {
        background-color: rgba(0, 0, 0, 0.01);
        height: 12rem;
        width: 12rem; }

.bg-grid-30 {
  background-position: 0 0;
  background-size: 30px 30px;
  background-image: repeating-linear-gradient(0deg, #2a3568, #2a3568 1px, transparent 1px, transparent 30px), repeating-linear-gradient(-90deg, #2a3568, #2a3568 1px, transparent 1px, transparent 30px); }

.bg-grid-15 {
  background-position: 0 0;
  background-size: 15px 15px;
  background-image: repeating-linear-gradient(0deg, #2a3568, #2a3568 1px, transparent 1px, transparent 15px), repeating-linear-gradient(-90deg, #2a3568, #2a3568 1px, transparent 1px, transparent 15px); }

#controls {
  border: 1px dashed #1a265d;
  height: 6rem;
  margin: 1.5rem auto;
  overflow: hidden;
  padding: 0 3rem;
  position: relative;
  width: 96rem; }
  #controls ul {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  #controls a, #controls a:hover, #controls a:active, #controls a:visited {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2); }

/*# sourceMappingURL=pstv.css.map */
