// Sony base blue: #003791 alt: #032f64 (3,47,100,1)
// Our blue: #1a265d [rgb(26,38,93,1)], #2a3568

// SASS variables
//$mainFontFamily: "SST W01 Roman", "sst-roman", "myriad-pro", sans-serif;
$mainFontFamily: "sst-w01", sans-serif;

$bgColor: rgba(3, 47, 100, 1);
$bgAccentColor: rgba(255, 255, 255, .05);
$appTransitionSpeed: 300ms;

// SASS pagewide mixins

@mixin flex-basic-row {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

@mixin bg-grid($size) {
  background-position: 0 0;
  background-size: $size $size;
  background-image: repeating-linear-gradient(0deg, $bgAccentColor, $bgAccentColor 1px, transparent 1px, transparent $size), repeating-linear-gradient(-90deg, $bgAccentColor, $bgAccentColor 1px, transparent 1px, transparent $size);
}

@mixin test-bg-color($alpha:0.5) {
  background-color: rgba(0, 0, 0, $alpha);
}

@mixin bg-color-alpha($alpha:1) {
  background-color: rgba(3, 47, 100, $alpha);
}

@mixin hide {
  opacity: 0;
}

@mixin show {
  opacity: 1;
  transition: opacity $appTransitionSpeed;
}

// Bare bones reset and pagewide styles

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  margin: 0;
  padding-top: 1rem;
  font-family: $mainFontFamily;
  font-size: 1.5rem;
  line-height: 3rem;
  background-color: #050505;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li, div, header, footer, main, nav {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  display: block;
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  line-height: inherit;
  opacity: 1;
}

a, a:hover, a:active, a:visited {
  color: inherit;
  text-decoration: none;
}

.invisible {
  display: none;
}

.visible {
  display: inherit;
}

// #pstv is the "screen" of the console

#pstv {
  border: 1px solid $bgColor;
  height: 54rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 96rem;

  > #mockups {
    height: 100%;
    width: 100%;
  }

  > #prototype {

    background-color: $bgColor;

    .overlay {
      @include hide;
      //@include bg-color-alpha(.75);
      background-color: rgba(1, 18, 39, .6);
      height: 100%;
      width: 100%;
      left: 0;
      position: absolute;
      top: 0;
      z-index: 2;

      .folder {
        background-color: #46648a;
        height: 37.5rem;
        left: 27rem;
        overflow: hidden;
        position: absolute;
        top: 9rem;
        width: 42rem;
        z-index: 3;

        h1 {
          background-color: rgba(1, 18, 39, 1);
          font-size: 3rem;
          font-weight: 300;
          height: 6rem;
          line-height: 6rem;
          text-indent: 1.5rem;
          white-space: nowrap;
        }

        .folder-apps {
          position: absolute;
          left: 0;
          top: 6rem;
          li {
            background-color: rgba(1, 18, 39, .5);
            background: 0 0 url("images/app_xenogears.jpg") no-repeat;
            background-size: 100% 100%;
            height: 9rem;
            position: absolute;
            text-indent: -500rem;
            width: 9rem;
          }
          li:nth-child(1) {
            -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
            height: 12rem;
            width: 12rem;
            left: 1.5rem;
            top: 1.5rem;
          }
          li:nth-child(2) {
            left: 16.5rem;
            top: 3rem;
          }
          li:nth-child(3) {
            left: 30rem;
            top: 3rem;
          }
          li:nth-child(4) {
            left: 3rem;
            top: 16.5rem;
          }
          li:nth-child(5) {
            left: 16.5rem;
            top: 16.5rem;
          }
          li:nth-child(6) {
            left: 30rem;
            top: 16.5rem;
          }
        }

        nav {
          background-color: rgba(1, 18, 39, 1);
          height: 3rem;
          left: 0;
          position: absolute;
          top: 34.5rem;
          width: 100%;
          li {
            background-color: inherit;
            text-indent: 1.5rem;
            position: absolute;
            top: 0;
            width: 21rem;
          }
          li:first-child {
            left: 0;
          }
          li:last-child {
            left: 21rem;
          }
        }

      }

    }

    .overlay.show {
      @include show;
    }

    > header, > footer {
      @include flex-basic-row;
      @include test-bg-color(0);
      height: 6rem;
      padding: 0 3rem;
    }

    > header {
      h1 {
        //border: 1px solid #fc9;
        flex: 0 1 auto;

        img {
          max-height: 1.8rem;
          padding: 0 .6rem;
          position: relative;
          top: .4rem;
          width: auto;
        }

      }
      h1.user {
        //background-image: url("images/icon_avatar.png");
        img.plus {
          max-height: 1.5rem;
          top: .3rem;
        }
      }
      h1.clock {
        //background-color: #999;
        text-align: center;
        text-indent: 0;
        min-width: 13.5rem;
      }
    }

    > footer {

      h1 {
        //border: 1px solid #fc9;
        flex: 1 0 auto;
        font-size: 1.3rem;
        font-style: italic;
        opacity: .8;
      }

      .pstvlogo {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        background: right 0 no-repeat;
        background-image: url("images/logo_pstv.png");
        background-size: auto 2.2rem;
        height: 2.2rem;
        padding-left: 3rem;
        text-indent: -500rem; // Hide text.
        width: 15rem;
      }

      .marquee {
        white-space: nowrap;
        overflow: hidden;
        width: 72rem;
      }

      .marquee span {
        display: inline-block;
        padding-left: 100%;
        text-indent: 0;
        -webkit-animation: marquee 30s linear infinite;
        animation: marquee 30s linear infinite;
      }

      @-webkit-keyframes marquee {
        0% {
          -webkit-transform: translate(0, 0);
        }
        100% {
          -webkit-transform: translate(-100%, 0);
        }
      }

      @keyframes marquee {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(-100%, 0);
        }
      }

    }

    ///////////////////////////////////////////////////////
    //
    // APP SECTION
    //

    // TODO: Positioning with translate() not working in forefox!

    main {
      height: 42rem;

      $scaleCurrent: 1;
      $scaleAdjacent: 15/18;
      $scaleDistant: 12/18;
      $offsetTop: 7.5rem;

      @mixin adjacent {
        //display: none; // Used for testing only.
        > header {
          //@include test-bg-color(.6);// Used for testing only.
        }
      }

      @mixin distant {
        //display: none; // Used for testing only.
        > header {
          //@include test-bg-color(.6);// Used for testing only.
        }
      }

      .app {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        -webkit-transform: translate(21rem, $offsetTop) scale($scaleCurrent);
        transform: translate(21rem, $offsetTop) scale($scaleCurrent);
        -webkit-transition: -webkit-transform $appTransitionSpeed;
        transition: transform $appTransitionSpeed;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;

        > header, > nav, > footer {
          -webkit-backface-visibility: inherit;
          position: inherit;
        }

        > header {
          @include test-bg-color(.6);
          height: 18rem;
          -webkit-transform: translate(0) scale($scaleCurrent);
          transform: translate(0) scale($scaleCurrent);
          width: 18rem;

          img {
            height: 100%;
            width: 100%;
            //display: none; // Used for testing only.
          }
        }

        // Hide footer and nav for non-selected apps
        > nav, > footer {
          @include hide;
        }

        nav {
          -webkit-transform: translate(0rem, 18rem) scale($scaleCurrent);
          transform: translate(0rem, 18rem) scale($scaleCurrent);

          ul {
            list-style-type: none;

            li {
              @include test-bg-color();
              background: .7rem .8rem no-repeat;
              background-size: 1.5rem auto;
              height: 3rem;
              text-indent: 3rem;
              width: 18rem;
            }

            li.button-x {
              @include test-bg-color(.4);
              background-image: url("images/button_x.png");
            }

            li.button-triangle {
              @include test-bg-color(.3);
              background-image: url("images/button_triangle.png");
            }

            li.button-square {
              @include test-bg-color(.2);
              background-image: url("images/button_square.png");
            }

            li.button-circle {
              @include test-bg-color(.1);
              background-image: url("images/button_circle.png");
            }
          }
        }

        > footer {
          @include test-bg-color(0);
          height: 6rem;
          -webkit-transform: translate(18rem, 21rem) scale($scaleCurrent);
          transform: translate(18rem, 21rem) scale($scaleCurrent);
          width: 75rem;

          h1 {
            font-size: 3rem;
            font-weight: 300;
            line-height: 6rem;
            text-indent: 3rem;
            white-space: nowrap;
          }
        }

      }

      .current {

        // Hide footer and nav for non-selected apps
        > footer, > nav {
          @include show;
        }

      }

      .adjacent-left {
        @include adjacent;
        -webkit-transform: translate(6rem, $offsetTop) scale($scaleAdjacent);
        transform: translate(6rem, $offsetTop) scale($scaleAdjacent);
      }

      .adjacent-right {
        @include adjacent;
        -webkit-transform: translate(39rem, $offsetTop) scale($scaleAdjacent);
        transform: translate(39rem, $offsetTop) scale($scaleAdjacent);
      }

      .distant-left {
        @include distant;
        -webkit-transform: translate(-6rem, $offsetTop) scale($scaleDistant);
        transform: translate(-6rem, $offsetTop) scale($scaleDistant);
      }

      .distant-right-1 {
        @include distant;
        -webkit-transform: translate(54rem, $offsetTop) scale($scaleDistant);
        transform: translate(54rem, $offsetTop) scale($scaleDistant);
      }

      .distant-right-2 {
        @include distant;
        -webkit-transform: translate(66rem, $offsetTop) scale($scaleDistant);
        transform: translate(66rem, $offsetTop) scale($scaleDistant);
      }

      .distant-right-3 {
        @include distant;
        -webkit-transform: translate(78rem, $offsetTop) scale($scaleDistant);
        transform: translate(78rem, $offsetTop) scale($scaleDistant);
      }

      .distant-right-4 {
        @include distant;
        -webkit-transform: translate(90rem, $offsetTop) scale($scaleDistant);
        transform: translate(90rem, $offsetTop) scale($scaleDistant);
      }

      .offscreen-left-1, .offscreen-left-2, .offscreen-left-3,
      .offscreen-left-4, .offscreen-left-5, .offscreen-left-6 {
        @include distant;
        -webkit-transform: translate(-18rem, $offsetTop) scale($scaleDistant);
        transform: translate(-18rem, $offsetTop) scale($scaleDistant);
      }

      .offscreen-right-1, .offscreen-right-2, .offscreen-right-3 {
        @include distant;
        -webkit-transform: translate(102rem, $offsetTop) scale($scaleDistant);
        transform: translate(102rem, $offsetTop) scale($scaleDistant);
      }

    }

  }

  //
  // END APP SECTION
  //
  ///////////////////////////////////////////////////////

}

.bg-grid {
  @include bg-grid(1.5rem);
}

.bg-nogrid {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
}

.bg-vita {
  background-image: url("images/vita_homescreen.jpg");
  background-size: 100% 100%;
}

.bg-xeno-scanlines {
  background-image: url("images/psx_xeno_scanlines.png");
  background-size: 100% 100%;
  // Brighten to compensate for scanlines.
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
}

.bg-xeno-smooth {
  background-image: url("images/psx_xeno_smooth.png");
  background-size: 100% 100%;
}

.bg-ridge-scanlines {
  background-image: url("images/psx_ridge_scanlines.png");
  background-size: 100% 100%;
  // Brighten to compensate for scanlines.
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
}

.bg-ridge-smooth {
  background-image: url("images/psx_ridge_smooth.png");
  background-size: 100% 100%;
}

.bg-custom {
  background-image: url("images/bg_tlg4.png");
  background-size: 100% 100%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);

  > header img {
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.9));
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.9));
  }

}

#pstv.border-neutral {
  border: 1px solid #333;
}

#controls {
  background-color: #222;
  border: 0;
  border-radius: 5px;
  font-family: sans-serif;
  margin: 1rem auto;
  padding: 0 3rem .4rem 3rem;
  position: relative;
  width: 96rem;

  ul {
    @include flex-basic-row;
    li {
      flex: 1 0 auto;
      padding: 0 .1rem;
      text-align: center;
      button {
        width: 100%;
      }

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

// Lazy loading for our big background images.
.preloader {
  background-image: url("images/bg_tlg4.png"), url("images/psx_ridge_smooth.png"), url("images/psx_ridge_scanlines.png"), url("images/psx_xeno_smooth.png"), url("images/psx_xeno_scanlines.png"), url("images/vita_homescreen.jpg");
  background-repeat: no-repeat;
  width: 0;
  height: 0;
  display: none;
}

@media (max-width: 520px) {
  @viewport {
    width: 960px;
  }

  #controls {
    font-family: sans-serif;
    ul {
      @include flex-basic-row;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;

      li {
        width: 33%;
      }
    }
  }
}